<div class="app-wrapper">

  <img class="bg-img" [src]="bg" alt="">

  <div class="image-change-button">
    <div class="btn" (click)="changeBG()" *ngIf="!loadingImage">
      <i class="material-icons-outlined">refresh</i>
    </div>
  </div>

  <div class="top-section">
    <h1>{{ date | date:'shortTime' }}</h1>
    <h2>{{ date | date }}</h2>
  </div>

  <div class="content-section">
    <router-outlet></router-outlet>
  </div>
  
  <div class="bottom-section">
    <app-tabs></app-tabs>
  </div>
  
</div>
