<div class="manage-bookmark-wrapper">
    <div class="manage-bookmark-container">
        <div class="sidebar">
            
            <p class="sidebar-heading">
                Bookmarks...
            </p>
            <div class="sidebar-item-container">
                <a [routerLink]="['/bookmarks/manage-bookmark/',bookmark.id]" *ngFor="let bookmark of bookmarks">
                <p class="sidebar-item">{{bookmark.name}}</p>
                </a>   
            </div>


        </div>
        <div class="content">
            <div class="heading">
                <h3>{{bookmark.name}}</h3>
            </div>
            <div class="form-container">
                <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
                    <div class="input-container">
                        <input [ngModel]="bookmark.name" autocomplete="off" required class="bookmark-input" type="text" name="bookmarkName" id="" placeholder="Enter bookmark name...">
                        <input [ngModel]="bookmark.url" autocomplete="off" required class="bookmark-input" type="text" name="bookmarkURL" id="" placeholder="Enter the URL...">
                    </div>
                    <div class="btn-container">
                        <div class="btn2">
                            <button>Update</button>
                            <button (click)="onDelete()">Delete</button>
                        </div>                        
                        <a [routerLink]="'../'">Cancel</a>
                    </div>
            
                  </form>
                    
            </div>
            <div class="buttons-container">
            </div>
        </div>
    </div>

</div>
