.manage-bookmark-wrapper{
    margin: auto;
    max-width: 700px;
    height: 400px;
    .manage-bookmark-container{
        display: flex;
        height: 100%;
        .sidebar{
            background-color: rgba($color: black, $alpha: 0.8);
            backdrop-filter: blur(4px);
            width: 33%;
            border-top-left-radius: 10px ;
            border-bottom-left-radius: 10px;
            padding: 10px;
            .sidebar-heading{
                margin-top: 10px;
                margin-bottom: 10px;
                color: white;
                font-size: 25px;
                font-weight: 700;
            }
            .sidebar-item-container{
                display: flex;
                flex-direction: column;
                gap:2px;
                height: 85%;
                overflow: scroll;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background: white;
                    border-radius: 10px;
                  }
                .sidebar-item{
                    color: white;
                    font-size: 18px;
                    padding: 5px;
                    &:hover{
                        background-color: rgba($color: white, $alpha: 0.8);
                        color:black;
                    }
                    &:active{
                        background-color: rgba($color: teal, $alpha: 0.8);
                        color:white;
                    }

                }

            }
        }
        .content{
            background-color: rgba($color: white, $alpha: 0.8);
            backdrop-filter: blur(4px);
            width: 67%;
            border-top-right-radius: 10px ;
            border-bottom-right-radius: 10px;
            overflow: hidden;
            .heading{
                margin: 20px;
                margin-bottom: 0px;
                font-size: 40px;
                font-weight: 900;
            }
            .form-container{
                .input-container{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .bookmark-input{
                        margin: 20px;
                        height: 40px;
                        font-size: 15px;
                        border: solid 2px black;
                        border-radius: 10px;
                        background-color: transparent;
                        padding: 10px;
                        color: black;
                        transition: ease-in-out 0.25s;
                        &:hover{
                            border: solid 2px tan;
                            background-color: rgba($color: black, $alpha: .8);
                            color: white;
                        }
                        &:focus{
                            outline: none !important;
                            border: solid 2px yellow !important;
                            background-color: rgba($color: black, $alpha: .9);
                            color: white;
                        }
                    }
                }
                .btn-container{
                    margin: 20px;
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    margin-top: 10px;
                    .btn2{
                        display: flex;
                        gap: 8px;
                    }
                    button,a{
                        padding: 8px;
                        border: solid 2px black;
                        border-radius: 10px;
                        background-color: transparent;
                        color: black;
                        transition: ease-in-out 0.25s;
                        text-decoration: none;
                        &:hover{
                            border: solid 2px tan;
                            background-color: rgba($color: black, $alpha: .8);
                            color: white;
                            transform: scale(1.1);
                        }
                        &:focus{
                            outline: none !important;
                            border: solid 2px yellow !important;
                            background-color: rgba($color: black, $alpha: .9);
                            color: white;
                            transform: translateY(-2px);
                        }
                    }
                }

            }
        }
    }

}
